{% extends 'polls/base.html' %}

{% block content %}
    <div class="intro">{{ poll.question }}</div>

    <!-- Begin Blog -->
    <div class="container">
       <div class="post text">
    <div class="icon-text"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<div class="post-text">
    			<h2 class="title"><a href="#">Directory of Tags</a></h2>
                <p>
    			{% for tag in top_tags %}
                <a href="/polls/search?q={{ tag }}">{{ tag }} ({{ tag.num_times }})</a>,

            {% endfor %}
            </p>
    		</div>
        <div class="meta-wrapper">
                                <div class="meta">

                                    <div class="clear"></div>
                                </div>
                            </div>

    	</div>
    	<div class="bottom"></div>
    </div>
    </div>




    </div>
    <!-- End Container -->
{% endblock content %}

